@charset "UTF-8";
@media screen and (max-width: 768px) {
  :root {
    --fs-min: var(--sm-fs-min);
    --fs-max: var(--sm-fs-max);
  }
}

@media screen and (min-width: 768px) and (min-height: 384px) {
  :root {
    --fs-min: var(--md-fs-min);
    --fs-max: var(--md-fs-max);
  }
}

@media screen and (min-width: 1248px) and (min-height: 624px) {
  :root {
    --fs-min: var(--lg-fs-min);
    --fs-max: var(--lg-fs-max);
  }
}

@media screen and (min-width: 1872px) and (min-height: 936px) {
  :root {
    --fs-min: var(--xl-fs-min);
    --fs-max: var(--xl-fs-max);
  }
}

html {
  box-sizing: border-box;
  background-repeat: no-repeat;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
  overflow-wrap: break-word;
  overflow-x: hidden;
  word-break: normal;
  -moz-tab-size: 4;
       tab-size: 4;
  font-family: -apple-system, Tahoma, "Segoe UI", Roboto, system-ui, sans-serif;
  cursor: default;
  scroll-behavior: smooth;
  --fs-base: clamp(var(--fs-min), calc(1vmin + 1vmax), var(--fs-max));
}

html:focus-within {
  scroll-behavior: smooth;
}

::-moz-selection {
  color: var(--color-selection);
  background-color: var(--color-selection-bg);
}

::selection {
  color: var(--color-selection);
  background-color: var(--color-selection-bg);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  min-height: 95vh;
  margin: 0 auto;
  text-rendering: optimizeSpeed;
  font-size: var(--fs-base);
  line-height: 1.4;
  -webkit-hyphens: auto;
          hyphens: auto;
}

article,
aside,
details,
dialog,
div,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

/** SUMMARY **/
summary {
  display: list-item;
}

/** NAV OL/UL **/
:where(nav) :where(ol, ul, dl) {
  list-style: none;
}

/** AUDIO-VISUEL **/
:where(audio, canvas, embed, iframe, img, object, picture, progress, svg, video) {
  display: inline-block;
  vertical-align: middle;
  height: auto;
  max-width: 100%;
  border: none;
  object-fit: contain;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img:not([alt]) {
  filter: blur(5px);
}

video[autoplay]:not([muted]):not([class]) {
  display: none;
}

/** DIALOG (MODAL) **/
:where(dialog) {
  background-color: inherit;
  border: solid;
  color: inherit;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

:where(dialog:not([open])) {
  display: none;
}

/** CODE **/
code,
kbd,
samp,
pre {
  font-family: Consolas, monospace;
  font-size: 1em;
  overflow-x: auto;
}

/** PROGRESS BAR **/
:where(progress) {
  vertical-align: baseline;
}

/** ABBR (TOOLTIP NATIVE) **/
abbr[title] {
  cursor: help;
  border-bottom: none;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/** FONT SIZE/WEIGHT **/
:where(b, strong, optgroup) {
  font-weight: bold;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 0.7em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/** QUOTE / CITATION **/
:where(q) {
  font-style: italic;
  quotes: "“" "”";
}

/** TIPS BR **/
br + br {
  display: none;
}

/** ARIA **/
[aria-controls] {
  cursor: pointer;
}

:where([aria-busy="true" i]) {
  cursor: progress;
}

:where([aria-disabled="true" i], [disabled]) {
  cursor: not-allowed;
}

[hidden],
[aria-hidden="true"] {
  display: none;
}

:where([aria-hidden="false" i][hidden]) {
  display: initial;
}

:where([aria-hidden="false" i][hidden]:not(:focus)) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

/*
@import 'moz';
@import 'webkit';
*/
:where(h1, h2, h3, h4, h5, h6) {
  font-size: 100%;
  font-weight: normal;
  margin-bottom: .5em;
}

h1 {
  font-size: var(--fs-1);
  margin: 0.67em 0;
}

h2 {
  font-size: var(--fs-2);
}

h3 {
  font-size: var(--fs-3);
}

h4 {
  font-size: var(--fs-4);
}

h5 {
  font-size: var(--fs-5);
}

h6 {
  font-size: var(--fs-6);
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  color: inherit;
  background-color: currentColor;
}

/** FIELDSET (FORM) **/
:where(fieldset) {
  padding: 0.35em 0.75em 0.625em;
  border: 1px solid inherit;
}

/** LEGEND (FORM) **/
legend {
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
  color: inherit;
}

/** TEXTAREA (FORM) **/
:where(textarea) {
  overflow: auto;
  vertical-align: top;
  margin: 0;
  resize: vertical;
}

:where([type="search" i]) {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

input {
  border-color: var(--color-primary);
  caret-color: var(--color-caret, #16f);
}

input:focus {
  border-color: var(--color-secondary);
}

input:not(:-moz-placeholder-shown) {
  border-color: var(--color-danger);
}

input:not(:placeholder-shown) {
  border-color: var(--color-danger);
}

input:valid {
  border-color: var(--color-succes);
}

:where(table) {
  display: inline-table;
  min-width: 60%;
  table-layout: auto;
  border-collapse: collapse;
  border-spacing: 0;
  text-indent: 0;
  border: 1px solid var(--color-neutral);
}

tr {
  --hover-bg-color: var(--color-secondary-opposite);
  --hover-color: var(--color-secondary);
}

tr:not(:first-child) {
  border-top: solid 1px var(--color-neutral);
}

tr:nth-child(even) {
  --hover-bg-color: var(--color-primary-opposite);
  --hover-color: var(--color-primary);
  background-color: var(--color-secondary);
  color: var(--color-secondary-opposite);
}

tr:nth-child(odd) {
  background-color: var(--color-primary);
  color: var(--color-primary-opposite);
}

tr:hover {
  background-color: var(--hover-bg-color);
  color: var(--hover-color);
}

td:not(:last-child) {
  border-right: solid 1px var(--color-neutral);
}

a {
  text-decoration: none;
  color: currentColor;
  background-color: transparent;
  filter: brightness(0.9);
  transition: all .1s ease-in-out;
}

a:hover {
  filter: brightness(var(--hover-brightness));
  cursor: pointer;
  font-size: 1.05em;
}

a[href^="http"]:empty::before {
  content: attr(href);
}

nav a {
  text-decoration: underline;
}

/** BUTTON (FORM & cie) **/
:where(button, [type="button" i], [type="reset" i], [type="submit" i]) {
  -webkit-appearance: button;
  cursor: pointer;
}

:where(button, input, optgroup, select, textarea) {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

:where(button, select) {
  text-transform: none;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-none {
  float: none;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.block.inline {
  display: inline-block;
}

@supports (display: flex) {
  .flex {
    display: flex;
  }
  .flex.inline {
    display: inline-flex;
  }
  .flex.row {
    flex-direction: row;
  }
  .flex.row-reverse {
    flex-direction: row-reverse;
  }
  .flex.col {
    flex-direction: column;
  }
  .flex.col-reverse {
    flex-direction: column-reverse;
  }
  .nowrap {
    flex-wrap: nowrap;
  }
  .wrap {
    flex-wrap: wrap;
  }
  .wrap-reverse {
    flex-wrap: wrap-reverse;
  }
}

@supports (display: grid) {
  .grid {
    display: grid;
    grid-auto-rows: var(--g-auto-row);
    grid-auto-columns: var(--g-auto-col);
    gap: var(--g-row-gap, 0) var(--g-col-gap, 0);
  }
  .grid.inline {
    display: inline-grid;
  }
  .grid.row {
    grid-auto-flow: column;
  }
  .grid.row-dense {
    grid-auto-flow: column dense;
  }
  .grid.col {
    grid-auto-flow: row;
  }
  .grid.col-dense {
    grid-auto-flow: row dense;
  }
  .no-gap {
    gap: 0;
  }
  .fit-col {
    grid-template-columns: repeat(auto-fit, minmax(var(--g-item-min-w), var(--g-item-max-w)));
  }
  .fill-col {
    grid-template-columns: repeat(auto-fill, minmax(var(--g-item-min-w), var(--g-item-max-w)));
  }
  .fit-row {
    grid-template-rows: repeat(auto-fit, minmax(var(--g-item-min-w), var(--g-item-max-w)));
  }
  .fill-row {
    grid-template-rows: repeat(auto-fill, minmax(var(--g-item-min-w), var(--g-item-max-w)));
  }
  .max-col-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .max-row-1 {
    grid-template-rows: repeat(1, 1fr);
  }
  .col-1 {
    grid-column-end: span 1;
  }
  .row-1 {
    grid-row-end: span 1;
  }
  .max-col-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .max-row-2 {
    grid-template-rows: repeat(2, 1fr);
  }
  .col-2 {
    grid-column-end: span 2;
  }
  .row-2 {
    grid-row-end: span 2;
  }
  .max-col-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .max-row-3 {
    grid-template-rows: repeat(3, 1fr);
  }
  .col-3 {
    grid-column-end: span 3;
  }
  .row-3 {
    grid-row-end: span 3;
  }
  .max-col-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .max-row-4 {
    grid-template-rows: repeat(4, 1fr);
  }
  .col-4 {
    grid-column-end: span 4;
  }
  .row-4 {
    grid-row-end: span 4;
  }
  .max-col-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .max-row-5 {
    grid-template-rows: repeat(5, 1fr);
  }
  .col-5 {
    grid-column-end: span 5;
  }
  .row-5 {
    grid-row-end: span 5;
  }
  .max-col-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .max-row-6 {
    grid-template-rows: repeat(6, 1fr);
  }
  .col-6 {
    grid-column-end: span 6;
  }
  .row-6 {
    grid-row-end: span 6;
  }
  .max-col-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  .max-row-7 {
    grid-template-rows: repeat(7, 1fr);
  }
  .col-7 {
    grid-column-end: span 7;
  }
  .row-7 {
    grid-row-end: span 7;
  }
  .max-col-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .max-row-8 {
    grid-template-rows: repeat(8, 1fr);
  }
  .col-8 {
    grid-column-end: span 8;
  }
  .row-8 {
    grid-row-end: span 8;
  }
  .max-col-9 {
    grid-template-columns: repeat(9, 1fr);
  }
  .max-row-9 {
    grid-template-rows: repeat(9, 1fr);
  }
  .col-9 {
    grid-column-end: span 9;
  }
  .row-9 {
    grid-row-end: span 9;
  }
  .max-col-10 {
    grid-template-columns: repeat(10, 1fr);
  }
  .max-row-10 {
    grid-template-rows: repeat(10, 1fr);
  }
  .col-10 {
    grid-column-end: span 10;
  }
  .row-10 {
    grid-row-end: span 10;
  }
  .max-col-11 {
    grid-template-columns: repeat(11, 1fr);
  }
  .max-row-11 {
    grid-template-rows: repeat(11, 1fr);
  }
  .col-11 {
    grid-column-end: span 11;
  }
  .row-11 {
    grid-row-end: span 11;
  }
  .max-col-12 {
    grid-template-columns: repeat(12, 1fr);
  }
  .max-row-12 {
    grid-template-rows: repeat(12, 1fr);
  }
  .col-12 {
    grid-column-end: span 12;
  }
  .row-12 {
    grid-row-end: span 12;
  }
}

.jc-start {
  justify-content: flex-start;
}

.jc-end {
  justify-content: flex-end;
}

.jc-center {
  justify-content: center;
}

.jc-stretch {
  justify-content: stretch;
}

.jc-around {
  justify-content: space-around;
}

.jc-between {
  justify-content: space-between;
}

.jc-evenly {
  justify-content: space-evenly;
}

.ai-start {
  align-items: flex-start;
}

.ai-end {
  align-items: flex-end;
}

.ai-center {
  align-items: center;
}

.ai-stretch {
  align-items: stretch;
}

.ai-baseline {
  align-items: baseline;
}

.ac-start {
  align-content: flex-start;
}

.ac-end {
  align-content: flex-end;
}

.ac-center {
  align-content: center;
}

.ac-stretch {
  align-content: stretch;
}

.ac-around {
  align-content: space-around;
}

.ac-between {
  align-content: space-between;
}

.ac-evenly {
  align-content: space-evenly;
}

.ji-start {
  justify-items: flex-start;
}

.ji-end {
  justify-items: flex-end;
}

.ji-center {
  justify-items: center;
}

.ji-stretch {
  justify-items: stretch;
}

.ji-baseline {
  justify-items: baseline;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/*
.center {
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
*/
.tooltip {
  position: relative;
}

.tooltip::after {
  content: attr(data-tooltip);
  display: block;
  position: absolute;
  z-index: 99;
  bottom: 100%;
  left: 50%;
  overflow: hidden;
  padding: 0.4em 0.8em;
  border: solid 1px var(--color-tooltip-border);
  border-radius: 0.1em;
  background: var(--color-tooltip-bg);
  color: var(--color-tooltip);
  font-size: var(--fs-tooltip, 0.5em);
  text-overflow: ellipsis;
  white-space: pre;
  pointer-events: none;
  opacity: 0;
  transform: translate(-50%, 0.4em);
  transition: opacity 0.2s, transform 0.2s;
}

.tooltip:focus::after, .tooltip:hover::after {
  opacity: 1;
  transform: translate(-50%, -0.2em);
}

.tooltip-right::after {
  bottom: 50%;
  left: 100%;
  transform: translate(-0.4em, 50%);
}

.tooltip-right:focus::after, .tooltip-right:hover::after {
  transform: translate(0.4em, 50%);
}

.tooltip-left::after {
  bottom: 50%;
  left: auto;
  right: 100%;
  transform: translate(0.8em, 50%);
}

.tooltip-left:focus::after, .tooltip-left:hover::after {
  transform: translate(-0.4em, 50%);
}

.tooltip-down::after {
  bottom: auto;
  top: 100%;
  transform: translate(-50%, -0.8em);
}

.tooltip-down:focus::after, .tooltip-down:hover::after {
  transform: translate(-50%, 0.4em);
}

.list-group-x, .list-group-y {
  display: flex;
  padding: 0;
}

.list-group-y {
  flex-direction: column;
}

.list-group-y > *:first-child {
  border-top-left-radius: var(--list-group-radius);
  border-top-right-radius: var(--list-group-radius);
}

.list-group-y > *:last-child {
  border-bottom-left-radius: var(--list-group-radius);
  border-bottom-right-radius: var(--list-group-radius);
}

.list-group-x > *:first-child {
  border-top-left-radius: var(--list-group-radius);
  border-bottom-left-radius: var(--list-group-radius);
}

.list-group-x > *:last-child {
  border-top-right-radius: var(--list-group-radius);
  border-bottom-right-radius: var(--list-group-radius);
}

/*
  --switch-h: 3em;
  --color-switch-on: var(--color-primary, red);
  --color-switch-off: #333;
*/
.switch {
  --a: calc(var(--switch-h) / 12);
  --b: calc(var(--switch-h) / 24);
  --c: calc(var(--switch-h) / 2 - var(--a));
  position: relative;
  display: inline-block;
  width: var(--switch-h);
  height: calc(var(--switch-h) / 2);
  border-radius: var(--switch-h);
}

.switch.succes {
  --color-switch-on: var(--color-succes);
}

.switch.info {
  --color-switch-on: var(--color-info);
}

.switch.warning {
  --color-switch-on: var(--color-warning);
}

.switch.danger {
  --color-switch-on: var(--color-danger);
}

.switch input[type="checkbox"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  overflow: hidden;
  border-radius: var(--switch-h);
  background-color: var(--color-switch-off);
  box-shadow: inset 0 0 var(--b) var(--color-lg);
  transition: 0.4s;
}

.switch input[type="checkbox"]:before {
  position: absolute;
  content: "";
  height: var(--c);
  width: var(--c);
  left: var(--a);
  bottom: var(--b);
  background-color: var(--color-light);
  transition: 0.2s;
  border-radius: 50%;
}

.switch input:focus {
  outline: solid var(--b) var(--color-dark);
}

.switch input:checked {
  background-color: var(--color-switch-on);
  color: var(--color-light);
}

.switch input:checked:before {
  transform: translateX(var(--c));
}

.fs-1 {
  font-size: var(--fs-1);
}

.fs-2 {
  font-size: var(--fs-2);
}

.fs-3 {
  font-size: var(--fs-3);
}

.fs-4 {
  font-size: var(--fs-4);
}

.fs-5 {
  font-size: var(--fs-5);
}

.fs-6 {
  font-size: var(--fs-6);
}

.fs-n {
  font-size: var(--fs-n);
}

.fs-7 {
  font-size: var(--fs-7);
}

.fs-8 {
  font-size: var(--fs-8);
}

.underline {
  display: inline-block;
}

.underline:after {
  display: block;
  content: "";
  border-bottom: solid 2px currentColor;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}

.underline:is(.mid, .left, .right):hover:after {
  transform: scaleX(1);
}

.underline.left:after {
  transform-origin: 0% 50%;
}

.underline.right:after {
  transform-origin: 100% 50%;
}

.underline.right-to-left:after {
  transform-origin: 0% 50%;
}

.underline.right-to-left:hover:after {
  transform: scaleX(1);
  transform-origin: 100% 50%;
}

.underline.left-to-right:after {
  transform-origin: 100% 50%;
}

.underline.left-to-right:hover:after {
  transform: scaleX(1);
  transform-origin: 0% 50%;
}

/*
.space-y:not(:last-child) {
  margin-bottom: var(--space-y);
}

.space-x:not(:last-child) {
  margin-right: var(--space-x);
}

*/
@media (prefers-color-scheme: dark) {
  img,
  video {
    opacity: 0.8;
  }
  :where(img, video):hover {
    opacity: 1;
  }
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*# sourceMappingURL=b-css.css.map */