@media screen and (max-width: 768px) {
  :root {
    --fs-min: var(--sm-fs-min);
    --fs-max: var(--sm-fs-max);
  }
}

@media screen and (min-width: 768px) and (min-height: 384px) {
  :root {
    --fs-min: var(--md-fs-min);
    --fs-max: var(--md-fs-max);
  }
}

@media screen and (min-width: 1248px) and (min-height: 624px) {
  :root {
    --fs-min: var(--lg-fs-min);
    --fs-max: var(--lg-fs-max);
  }
}

@media screen and (min-width: 1872px) and (min-height: 936px) {
  :root {
    --fs-min: var(--xl-fs-min);
    --fs-max: var(--xl-fs-max);
  }
}

/*@import './1_tools/index';*/
html {
  box-sizing: border-box;
  background-repeat: no-repeat;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
  overflow-wrap: break-word;
  word-break: normal;
  line-height: 1.4;
  -moz-tab-size: 4;
       tab-size: 4;
  font-family: -apple-system, "Segoe UI", Roboto, system-ui, sans-serif;
  cursor: default;
  --fs-base: clamp(var(--fs-min), calc(1vmin + 1vmax), var(--fs-max));
}

html:focus-within {
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset,
legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body {
  min-height: 95vh;
  margin: 0 auto;
  text-rendering: optimizeSpeed;
  font-size: var(--fs-base);
}

article, aside, details, dialog, div, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

:where(h1, h2, h3, h4, h5, h6) {
  font-size: 100%;
  font-weight: normal;
}

h1 {
  font-size: var(--fs-1);
  margin: 0.67em 0;
}

h2 {
  font-size: var(--fs-2);
}

h3 {
  font-size: var(--fs-3);
}

h4 {
  font-size: var(--fs-4);
}

h5 {
  font-size: var(--fs-5);
}

h6 {
  font-size: var(--fs-6);
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  color: inherit;
}

br + br {
  display: none;
}

summary {
  display: list-item;
}

:where(nav) :where(ol, ul) {
  list-style: none;
}

:where(audio, canvas, embed, iframe, img, object, picture, svg, video) {
  display: inline-block;
  vertical-align: middle;
  height: auto;
  max-width: 100%;
  border: none;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img:not([alt]) {
  filter: blur(5px);
}

:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
  border-spacing: 0;
  text-indent: 0;
}

code, kbd, samp, pre {
  font-family: Consolas, monospace;
  font-size: 1em;
}

abbr[title] {
  border-bottom: none;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

:where(b, strong) {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 0.7em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

:where(fieldset) {
  padding: 0.35em 0.75em 0.625em;
  border: 1px solid inherit;
}

legend {
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
  color: inherit;
}

:where(progress) {
  display: inline-block;
  vertical-align: baseline;
}

:where(textarea) {
  overflow: auto;
  vertical-align: top;
  margin: 0;
  resize: vertical;
}

:where(button, [type="button" i], [type="reset" i], [type="submit" i]) {
  -webkit-appearance: button;
}

:where(button, input, optgroup, select, textarea) {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

optgroup {
  font-weight: bold;
}

:where(button, select) {
  text-transform: none;
}

::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

:where([type="search" i]) {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

:where(dialog) {
  background-color: inherit;
  border: solid;
  color: inherit;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

:where(dialog:not([open])) {
  display: none;
}

[aria-controls] {
  cursor: pointer;
}

:where([aria-busy="true" i]) {
  cursor: progress;
}

:where([aria-disabled="true" i], [disabled]) {
  cursor: not-allowed;
}

[hidden], [aria-hidden="true"] {
  display: none;
}

:where([aria-hidden="false" i][hidden]) {
  display: initial;
}

:where([aria-hidden="false" i][hidden]:not(:focus)) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

/*
@import './3_elements/index';*/
.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-none {
  float: none;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.block.inline {
  display: inline-block;
}

@supports (display: flex) {
  .flex {
    display: flex;
  }
  .flex.inline {
    display: inline-flex;
  }
  .flex.row {
    flex-direction: row;
  }
  .flex.row-reverse {
    flex-direction: row-reverse;
  }
  .flex.col {
    flex-direction: column;
  }
  .flex.col-reverse {
    flex-direction: column-reverse;
  }
  .nowrap {
    flex-wrap: nowrap;
  }
  .wrap {
    flex-wrap: wrap;
  }
  .wrap-reverse {
    flex-wrap: wrap-reverse;
  }
}

@supports (display: grid) {
  .grid {
    display: grid;
    grid-auto-rows: var(--g-auto-row);
    grid-auto-columns: var(--g-auto-col);
    gap: var(--g-row-gap, 0) var(--g-col-gap, 0);
  }
  .grid.inline {
    display: inline-grid;
  }
  .grid.row {
    grid-auto-flow: column;
  }
  .grid.row-dense {
    grid-auto-flow: column dense;
  }
  .grid.col {
    grid-auto-flow: row;
  }
  .grid.col-dense {
    grid-auto-flow: row dense;
  }
  .no-gap {
    gap: 0;
  }
  .fit-col {
    grid-template-columns: repeat(auto-fit, minmax(var(--g-item-min-w), var(--g-item-max-w)));
  }
  .fill-col {
    grid-template-columns: repeat(auto-fill, minmax(var(--g-item-min-w), var(--g-item-max-w)));
  }
  .fit-row {
    grid-template-rows: repeat(auto-fit, minmax(var(--g-item-min-w), var(--g-item-max-w)));
  }
  .fill-row {
    grid-template-rows: repeat(auto-fill, minmax(var(--g-item-min-w), var(--g-item-max-w)));
  }
  .max-col-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .max-row-1 {
    grid-template-rows: repeat(1, 1fr);
  }
  .col-1 {
    grid-column-end: span 1;
  }
  .row-1 {
    grid-row-end: span 1;
  }
  .max-col-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .max-row-2 {
    grid-template-rows: repeat(2, 1fr);
  }
  .col-2 {
    grid-column-end: span 2;
  }
  .row-2 {
    grid-row-end: span 2;
  }
  .max-col-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .max-row-3 {
    grid-template-rows: repeat(3, 1fr);
  }
  .col-3 {
    grid-column-end: span 3;
  }
  .row-3 {
    grid-row-end: span 3;
  }
  .max-col-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .max-row-4 {
    grid-template-rows: repeat(4, 1fr);
  }
  .col-4 {
    grid-column-end: span 4;
  }
  .row-4 {
    grid-row-end: span 4;
  }
  .max-col-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .max-row-5 {
    grid-template-rows: repeat(5, 1fr);
  }
  .col-5 {
    grid-column-end: span 5;
  }
  .row-5 {
    grid-row-end: span 5;
  }
  .max-col-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .max-row-6 {
    grid-template-rows: repeat(6, 1fr);
  }
  .col-6 {
    grid-column-end: span 6;
  }
  .row-6 {
    grid-row-end: span 6;
  }
  .max-col-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  .max-row-7 {
    grid-template-rows: repeat(7, 1fr);
  }
  .col-7 {
    grid-column-end: span 7;
  }
  .row-7 {
    grid-row-end: span 7;
  }
  .max-col-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .max-row-8 {
    grid-template-rows: repeat(8, 1fr);
  }
  .col-8 {
    grid-column-end: span 8;
  }
  .row-8 {
    grid-row-end: span 8;
  }
  .max-col-9 {
    grid-template-columns: repeat(9, 1fr);
  }
  .max-row-9 {
    grid-template-rows: repeat(9, 1fr);
  }
  .col-9 {
    grid-column-end: span 9;
  }
  .row-9 {
    grid-row-end: span 9;
  }
  .max-col-10 {
    grid-template-columns: repeat(10, 1fr);
  }
  .max-row-10 {
    grid-template-rows: repeat(10, 1fr);
  }
  .col-10 {
    grid-column-end: span 10;
  }
  .row-10 {
    grid-row-end: span 10;
  }
  .max-col-11 {
    grid-template-columns: repeat(11, 1fr);
  }
  .max-row-11 {
    grid-template-rows: repeat(11, 1fr);
  }
  .col-11 {
    grid-column-end: span 11;
  }
  .row-11 {
    grid-row-end: span 11;
  }
  .max-col-12 {
    grid-template-columns: repeat(12, 1fr);
  }
  .max-row-12 {
    grid-template-rows: repeat(12, 1fr);
  }
  .col-12 {
    grid-column-end: span 12;
  }
  .row-12 {
    grid-row-end: span 12;
  }
}

.jc-start {
  justify-content: flex-start;
}

.jc-end {
  justify-content: flex-end;
}

.jc-center {
  justify-content: center;
}

.jc-stretch {
  justify-content: stretch;
}

.jc-around {
  justify-content: space-around;
}

.jc-between {
  justify-content: space-between;
}

.jc-evenly {
  justify-content: space-evenly;
}

.ai-start {
  align-items: flex-start;
}

.ai-end {
  align-items: flex-end;
}

.ai-center {
  align-items: center;
}

.ai-stretch {
  align-items: stretch;
}

.ai-baseline {
  align-items: baseline;
}

.ac-start {
  align-content: flex-start;
}

.ac-end {
  align-content: flex-end;
}

.ac-center {
  align-content: center;
}

.ac-stretch {
  align-content: stretch;
}

.ac-around {
  align-content: space-around;
}

.ac-between {
  align-content: space-between;
}

.ac-evenly {
  align-content: space-evenly;
}

.ji-start {
  justify-items: flex-start;
}

.ji-end {
  justify-items: flex-end;
}

.ji-center {
  justify-items: center;
}

.ji-stretch {
  justify-items: stretch;
}

.ji-baseline {
  justify-items: baseline;
}

.center {
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*
@import './5_components/index';*/
.txt-size-1 {
  --font-size: var(--txt-size-1);
}

.txt-size-2 {
  --font-size: var(--txt-size-2);
}

.txt-size-3 {
  --font-size: var(--txt-size-3);
}

.txt-size-4 {
  --font-size: var(--txt-size-4);
}

.txt-size-5 {
  --font-size: var(--txt-size-5);
}

.txt-size-6 {
  --font-size: var(--txt-size-6);
}

.txt-size-7 {
  --font-size: var(--txt-size-7);
}

@media (prefers-color-scheme: dark) {
  img, video {
    opacity: 0.8;
  }
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*
// width < height
@media (orientation: portrait) {

}

@media (orientation: landscape) {
  
}
*/
/*# sourceMappingURL=b-css.css.map */