@charset "UTF-8";

.float-left { float: left; }
.float-right { float: right; }
.float-none { float: none; }

.block { display: block; }
.inline { display: inline; }

.block.inline { display: inline-block; }
.block.center { margin: 0 auto; }

.body {
    margin: 0 auto;
    min-width: var(--body-min-width);
    max-width: var(--body-max-width);
}
