@charset "UTF-8";

input {
    --caret-color: black;
    caret-color: var(--caret-color, black);
    border-color: var(--info, blue); 
}
input:invalid, input:out-of-range { border-color: var(--error, red); }
input:valid { border-color: var(--succes, green); }

/** WORK IN PROGRESS **/