@charset "UTF-8";

:root {

    --background-color: rgb(175, 200, 215);
    --color: black;

    --font-style: normal;
    --font-variant: normal;
    --font-weight: normal;
    --font-size: 100%;
    --font-family: Verdana, Tahoma, sans-serif, serif;
    --font: var(--font-style) var(--font-variant) var(--font-weight) var(--font-size) var(--font-family);
    
    --font-size-adjust: 100%;

    --text-decoration-line: none;
    --text-decoration-color: var(--color, black);
    --text-decoration-style: solid;
    --text-decoration: var(--text-decoration-line) var(--text-decoration-color) var(--text-decoration-style);

    --hyphens: auto;
    --letter-spacing: normal;
    --word-spacing: normal;
    --white-space: normal;
    --line-height: 1.6;

    --margin-top: 0;
    --margin-right: 0;
    --margin-bottom: 0;
    --margin-left: 0;
    --margin: var(--margin-top) var(--margin-right) var(--margin-bottom) var(--margin-left);

    --padding-top: 0;
    --padding-right: 0;
    --padding-bottom: 0;
    --padding-left: 0;
    --padding: var(--padding-top) var(--padding-right) var(--padding-bottom) var(--padding-left);

    --border-width: 0px;
    --border-style: none;
    --border-color: black;
    --border: var(--border-width) var(--border-style) var(--border-color);

    --outline-width: medium;
    --outline-style: invert;
    --outline-color: black;
    --outline: var(--outline-width) var(--outline-style) var(--outline-color);

    --column-rule-width: medium;
    --column-rule-style: none;
    --column-rule-color: black;
    --column-rule: var(--column-rule-width) var(--column-rule-style) var(--column-rule-color);

    --column-width: auto;
    --column-count: auto;
    --columns: var(--column-width) var(--column-count);

    --list-style-type: disc;
    --list-style-position: outside;
    --list-style-image: none;
    --list-style: var(--list-style-type) var(--list-style-position) var(--list-style-image);

    --transition-property: all;
    --transition-duration: 0s;
    --transition-timing-function: erase;
    --transition-delay: 0s;
    --transition: var(--transition-property) var(--transition-duration) var(--transition-timing-function) var(--transition-delay);
    /** flex **/
    --flex-grow: 0;
    --flex-shrink: 1;
    --flex-basis: auto;
    --flex: var(--flex-grow) var(--flex-shrink) var(--flex-basis);

    --flex-direction: row;
    --flex-wrap: wrap;
    --flex-flow: var(--flex-direction) var(--flex-wrap);

    --justify-content: flex-start;
    --align-content: stretch;
    --align-items: stretch;

    /** grid **/
    --grid-column-gap: 1rem;
    --grid-row-gap: 1rem;
    --grid-gap: var(--grid-row-gap) var(--grid-column-gap);

    --grid-row-start: auto;
    --grid-row-end: auto;
    --grid-row: var(--grid-row-start) / var(--grid-row-end);

    --grid-column-start: auto;
    --grid-column-end: auto;
    --grid-column: var(--grid-column-start) / var(--grid-column-end);

    --grid-auto-rows: 1fr;
    --grid-auto-columns: 1fr;
    --grid-auto-flow: row;

    --grid-item-min-width: 200px;
    --grid-item-max-width: 1fr;

    /** ??? **/
    --box-shadow: 0 5px 5px rgba(50, 50, 50, 0.2); 
    --border-radius: 2em;
    --hover-color: red;

    /** body **/
    --body-max-width: 1000px;
    --body-min-width: 400px;

    --hr-height: 1px;
    
    /** a **/
    --a-color: rgb(82, 79, 19);
    --a-color-hover: rgb(18, 10, 153);

    /** text **/
    --txt-size-default: 1rem;
    --txt-size-7: 0.8rem;
    --txt-size-6: 1rem;
    --txt-size-5: 1.3rem;
    --txt-size-4: 1.6rem;
    --txt-size-3: 1.9rem;
    --txt-size-2: 2.2rem;
    --txt-size-1: 2.5rem;

}