@charset 'UTF-8';

.burger-icon {
  display: inline-block;
  --burger-icon-color: lightblue;
  --burger-icon-color-hover: darkblue;

  width: clamp(1em, 3em, 2em);
  height: clamp(1em, 3em, 2em);
  background:
    linear-gradient(
      to bottom,
      var(--burger-icon-color) 0%,
      var(--burger-icon-color) 20%,
      transparent 20%,
      transparent 40%,
      var(--burger-icon-color) 40%,
      var(--burger-icon-color) 60%,
      transparent 60%,
      transparent 80%,
      var(--burger-icon-color) 80%,
      var(--burger-icon-color) 100%
    );
  cursor: pointer;

  &:hover {
    --burger-icon-color: var(--burger-icon-color-hover);
  }
}
