@charset 'UTF-8';

.btn {
  --btn-padding: 10px;
  --padding: var(--btn-padding);
  --btn-border: 1px solid #000;
  --border: var(--btn-border);
  --btn-border-radius: 0.2em;
  --border-radius: var(--btn-border-radius);

  cursor: pointer;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  position: relative;
}
