@charset 'UTF-8';

.btn {
  --padding-left: 10px;
  --padding-right: 10px;
  --padding-top: 10px;
  --padding-bottom: 10px;
  --border-width: 1px;
  --border-style: solid;
  --border-color: var(--dark);
  --border-radius: 0.5em;

  cursor: pointer;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  position: relative;
  
}
