@charset 'UTF-8';

.list-group-x, .list-group-y { 
  display: flex;
  padding: 0;
}

.list-group-y {
  flex-direction: column;
}

.list-group-y > *:first-child { 
  border-top-left-radius: var(--list-group-radius); 
  border-top-right-radius: var(--list-group-radius); 
}

.list-group-y > *:last-child { 
  border-bottom-left-radius: var(--list-group-radius); 
  border-bottom-right-radius: var(--list-group-radius); 
}

.list-group-x > *:first-child { 
  border-top-left-radius: var(--list-group-radius); 
  border-bottom-left-radius: var(--list-group-radius); 
}

.list-group-x > *:last-child { 
  border-top-right-radius: var(--list-group-radius); 
  border-bottom-right-radius: var(--list-group-radius); 
}