@charset 'UTF-8';

a, :link, :visited {

  --a-background-color: #28065f;
  --background-color: var(--a-background-color);

  --a-color: #535ab6;
  --color: var(--a-color);

  --a-text-decoration-style: none;
  --text-decoration-style: var(--a-text-decoration-style);

  &:hover {
    --background-color: var(--a-color);
    --color: var(--a-background-color);
    cursor: pointer;
    text-decoration: underline;
  }

}
