@charset 'UTF-8';

a {
  text-decoration: none;
  color: currentColor;
  background-color: transparent;
  filter: brightness(.9);
  transition: all .1s ease-in-out;
}

a:hover {
  filter: brightness(var(--hover-brightness));
  cursor: pointer;
  font-size: 1.05em;
}

a[href^="http"]:empty::before { 
  content: attr(href); 
}

nav a {
  text-decoration: underline;
}
