@charset 'UTF-8';

h1,
h2,
h3,
h4,
h5,
h6 {
  --h-font-weight: normal;
  --font-weight: var(--h-font-weight);
  --h-font-size: 100%;
  --font-size: var(--h-font-size);
  --h-color: var(--primary);
  --color: var(--h-color);
}
