@charset 'UTF-8';

:where(h1, h2, h3, h4, h5, h6) {
  font-size: 100%;
  font-weight: normal;
  margin-bottom: .5em;
}

h1 {
  font-size: var(--fs-1);
  margin: 0.67em 0;
}

h2 { font-size: var(--fs-2); }
h3 { font-size: var(--fs-3); }
h4 { font-size: var(--fs-4); }
h5 { font-size: var(--fs-5); }
h6 { font-size: var(--fs-6); }