@charset 'UTF-8';

input {
  --input-border-width: 2px;
  --input-border-color: var(--info);
  --border-width: var(--input-border-width);
  --border-color: var(--input-border-color);
}
input:invalid:not(:empty), input:not(:placeholder-shown) { 
  --border-color: var(--danger); 
}
input:valid { 
  --border-color: var(--succes); 
}

