@charset 'UTF-8';

input {
  --input-border-width: 2px;
  --input-border-color: var(--info);
  --border-width: var(--input-border-width);
  --border-color: var(--input-border-color);
}

input:valid {
  --border-color: var(--succes);
}

input:not(:placeholder-shown),
input:invalid:not(:empty) {
  --border-color: var(--danger);
}
