@charset 'UTF-8';

table {
  --border-spacing-horizontal: 1rem;
  --border-spacing-vertical: 1rem;
  --table-layout: fixed;
  
  display: inline-table;
  border-collapse: collapse;
  width: 100%;
  border-spacing: var(--border-spacing-horizontal) var(--border-spacing-vertical);
  table-layout: var(--table-layout);
}

tr {
  --odd-bg-color: var(--ligth);
  --odd-color: var(--dark);

  --even-bg-color: var(--grey);
  --even-color: var(--dark);

  --hover-bg-color: var(--dark);
  --hover-color: var(--light);

  &:nth-child(even) {
    background-color: var(--even-bg-color);
    color: var(--even-color);
  }

  &:nth-child(odd) {
    background-color: var(--odd-bg-color);
    color: var(--odd-color);
  }

  &:hover {
    background-color: var(--hover-bg-color);
    color: var(--hover-color);
  }
}
