@charset 'UTF-8';

.txt-size-1 { font-size: var(--txt-size-1); }
.txt-size-2 { font-size: var(--txt-size-2); }
.txt-size-3 { font-size: var(--txt-size-3); }
.txt-size-4 { font-size: var(--txt-size-4); }
.txt-size-5 { font-size: var(--txt-size-5); }
.txt-size-6 { font-size: var(--txt-size-6); }
.txt-size-7 { font-size: var(--txt-size-7); }

.txt-italic { font-style: italic; }
.txt-oblique { font-style: oblique; }
.txt-bold { font-weight: bold; }
.txt-underline { text-decoration: underline; }
.txt-line-through { text-decoration: line-through; }
.txt-error-syntax { text-decoration: wavy underline $red; }

.txt-justify { text-align: justify; }
.txt-left { text-align: left; }
.txt-right { text-align: right; }
.txt-center { text-align: center; }

.txt-uppercase { text-transform: uppercase; }
.txt-lowercase { text-transform: lowercase; }
.txt-capitalize { text-transform: capitalize; }

.txt-cut-word {
  hyphens: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
