@charset 'UTF-8';

@supports(display: grid) {

  .grid {
    display: grid;
    grid-auto-columns: var(--grid-auto-col, 1fr);
    grid-auto-rows: var(--grid-auto-row, 1fr);
    grid-gap: var(--grid-gap);
    justify-content: center;

    &.inline { display: inline-grid; }

    &.row {
      grid-auto-flow: column;
      &.dense { grid-auto-flow: column dense; }
    }

    &.col {
      grid-auto-flow: row;
      &.dense { grid-auto-flow: row dense; }
    }

  }

  .no-gap { grid-gap: 0; }

  // auto-fill != auto-fit != min-content != max-content != auto != minmax(a, b) 

  .responsive-col {
    grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-min-width, 100px), var(--grid-item-max-width, 1fr)));
  }

  .responsive-row {
    grid-template-rows: repeat(auto-fit, minmax(var(--grid-item-min-width, 100px), var(--grid-item-max-width, 1fr)));
  }

  @each $key in (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12) {
    .max-col-#{$key} { grid-template-columns: repeat($key, 1fr); }
    .max-row-#{$key} { grid-template-rows: repeat($key, 1fr); }
    .col-#{$key} { grid-column-end: span $key; }
    .row-#{$key} { grid-row-end: span $key; }
  }

}
