@charset 'UTF-8';

.mt { margin-top: var(--margin-top); }
.mb { margin-bottom: var(--margin-bottom); }
.ml { margin-left: var(--margin-left); }
.mr { margin-right: var(--margin-right); }

.pt { padding-top: var(--padding-top); }
.pb { padding-bottom: var(--padding-bottom); }
.pl { padding-left: var(--padding-left); }
.pr { padding-right: var(--padding-right); }