@charset 'UTF-8';


.float-left { float: left; }
.float-right { float: right; }
.float-none { float: none; }

.inline { display: inline; }

.block {
  display: block;
  .inline { display: inline-block; }
}

.center { margin: 0 auto; }

.body {
  margin: 0 auto;
  max-width: var(--body-max-width);
  min-width: var(--body-min-width);
}

// sm
@media screen and (max-width: var(--md))
{

}