@charset 'UTF-8';

$white: #fff;
$black: #000;
$grey: #888;
$blue: #44f;
$red: #a11;
$green: #060;
$yello: #ee0;
$orange: #f83;

$light: $white;
$dark: $black;
$primary: $grey;
$info: $blue;
$danger: $red;
$success: $green;
$secondary: $yellow;
$warning: $orange;
