@charset 'UTF-8';

@import 'variable';

$md-half: $md / 2;
$lg-half: $lg / 2;
$xl-half: $xl / 2;

@media screen and (min-width: $md) and (min-height: $md-half) {
  :root {
    --fs-min: var(--md-fs-min, #{$md-fs-min});
    --fs-max: var(--md-fs-max, #{$md-fs-max});
  }
}

@media screen and (min-width: $lg) and (min-height: $lg-half) {
  :root {
    --fs-min: var(--lg-fs-min, #{$lg-fs-min});
    --fs-max: var(--lg-fs-max, #{$lg-fs-max});
  }
}

@media screen and (min-width: $xl) and (min-height: $xl-half) {
  :root {
    --fs-min: var(--xl-fs-min, #{$xl-fs-min});
    --fs-max: var(--xl-fs-max, #{$xl-fs-max});
  }
}
