@charset 'UTF-8';

html {

  // colors
  --red: #b00;
  --blue: #5ae;
  --green: #184;
  --yellow: #fc3;
  --orange: #d96;
  --purple: #316;
  --pink: #fbc;
  --black: #000;
  --white: #fff;
  --grey: #ddd;

  --primary: #5998f8;
  --secondary: #1143a7;
  --light: #bad6ff;
  --dark: #042361;

  --succes: var(--green);
  --info: var(--blue);
  --warning: var(--orange);
  --danger: var(--red);

  --color: var(--dark);
  --caret-color: var(--dark);
  // ???
  --hover-color: var(--red);

  //background
  --background-attachment: scroll;
  --background-blend-mode: normal;
  --background-clip: border-box;
  --background-color: var(--light);
  --background-image: none;
  --background-origin: padding-box;
  --background-position: 0% 0%;
  --background-repeat: repeat;
  --background-size: auto;

  // screen ??? 
  // sm : 780x360 / 720x480 / 720x576
  // add : 1140 / 1200 / 1296
  // 2.16666 / 1.5 / 1.25
  // md : 720p 1280x720 1.77777 = 2000
  // xl : 1080p 1920x1080  1.7777 = 3000
  // 1248x768 1.625
  --sm: 0;
  --md: 768px;
  --lg: 1248px;
  --xl: 1872px;

  // font-size ??? // font-base = 16px

  /*
  --sm-font-size-base: clamp(10px, calc(2vmax + 1vmin), 16px);
  --md-font-size-base: clamp(14px, calc(2vmax + 1vmin), 20px);
  --lg-font-size-base: clamp(18px, calc(2vmax + 1vmin), 24px);
  --xl-font-size-base: clamp(22px, calc(2vmax + 1vmin), 28px);
  */

  /*
  --sm-font-size-base: calc(10px + 6px * (100vw / 768));
  --md-font-size-base: calc(14px + 6px * ((100vw - 768px) / 480));
  --lg-font-size-base: calc(18px + 6px * ((100vw - 1248px) / 624));
  --xl-font-size-base: calc(22px + 6px * ((100vw - 1872px) / 768));
  */

  --font-size-base: clamp(15px, calc(1vmin + 1vmax), 30px); //var(--sm-font-size-base, 16px);

  --txt-size-8: 0.8125rem; // 13 px = 0.8rem x 16
  --txt-size-7: 0.875rem; // 14 px
  --txt-size-6: 1.1rem; // 18 px
  --txt-size-5: 1.2rem; // 20 px
  --txt-size-4: 1.3rem;
  --txt-size-3: 1.4rem;
  --txt-size-2: 1.5rem;
  --txt-size-1: 1.6rem; // 48 px = 
}
