@charset 'UTF-8';

:root {

  // colors
  --red: #b00;
  --blue: #5ae;
  --green: #184;
  --yellow: #fc3;
  --orange: #d96;
  --purple: #316;
  --pink: #fbc;
  --black: #000;
  --white: #fff;
  --grey: #ddd;

  // plus moche, tu meurt
  --primary: var(--purple);
  --secondary: var(--yellow);
  --light: var(--white);
  --dark: var(--black);

  --succes: var(--green);
  --info: var(--blue);
  --warning: var(--orange);
  --danger: var(--red);

  --color: var(--dark);
  --caret-color: var(--dark);
  // ???
  --hover-color: var(--red);

  //background
  --background-attachment: scroll;
  --background-blend-mode: normal;
  --background-clip: border-box;
  --background-color: var(--light);
  --background-image: none;
  --background-origin: padding-box;
  --background-position: 0% 0%;
  --background-repeat: repeat;
  --background-size: auto;

  // screen ??? 
  // sm : 780x360 / 720x480 / 720x576
  // add : 1140 / 1200 / 1296
  // 2.16666 / 1.5 / 1.25
  // md : 720p 1280x720 1.77777 = 2000
  // xl : 1080p 1920x1080  1.7777 = 3000
  // 1248x768 1.625
  --sm: 0;
  --md: 768px;
  --lg: 1248px;
  --xl: 1872px;

  // font-size ??? // font-base = 16px

  --sm-font-size-base: 12px;
  --md-font-size-base: 14px;
  --lg-font-size-base: 16px;
  --xl-font-size-base: 18px;

  --font-size-base: var(--lg-font-size-base)

  --txt-size-7: 0.9rem; // 
  --txt-size-6: 1.1rem;
  --txt-size-5: 1.3rem;
  --txt-size-4: 1.5rem;
  --txt-size-3: 1.7rem;
  --txt-size-2: 2rem;
  --txt-size-1: 2.3rem;
}
