@charset 'UTF-8';

:root {

  // colors
  --red: #be0000;
  --blue: #5aace2;
  --green: #178344;
  --yellow: #f3cf3e;
  --orange: #dd9b60;
  --purple: #30106d;
  --pink: pink;
  --black: #000;
  --white: #fff;
  --grey: #ddd;
  --primary: var(--purple);
  --secondary: var(--yellow);
  --light: var(--white);
  --dark: var(--black);
  --info: var(--blue);
  --danger: var(--red);
  --succes: var(--green);
  --warning: var(--orange);
  --color: var(--dark);
  --caret-color: var(--dark);
  // ???
  --hover-color: var(--red);

  //background
  --background-attachment: scroll;
  --background-blend-mode: normal;
  --background-clip: border-box;
  --background-color: var(--light);
  --background-image: none;
  --background-origin: padding-box;
  --background-position: 0% 0%;
  --background-repeat: repeat;
  --background-size: auto;

  // screen ???
  --sm: 0;
  --md: 768px;
  --lg: 1200px;

  // font-size ???
  --txt-size-7: 0.9rem;
  --txt-size-6: 1.1rem;
  --txt-size-5: 1.3rem;
  --txt-size-4: 1.5rem;
  --txt-size-3: 1.7rem;
  --txt-size-2: 2rem;
  --txt-size-1: 2.3rem;

  // font
  --font-style: normal;
  --font-variant: normal;
  --font-weight: normal;
  --font-size: var(--txt-size-5);
  --font-family: verdana, tahoma, "Times New Roman", sans-serif, serif;
  --font: var(--font-style) var(--font-variant) var(--font-weight) var(--font-size) var(--font-family);
  --font-size-adjust: 100%;
  --line-height: 1.4;

  // ???
  --font-kerning: auto;
  --font-optical-sizing: auto;
  --font-stretch: 100%;
  --font-variant-ligatures: normal;
  --font-variant-caps: normal;
  --font-variant-numeric: normal;
  --font-variant-east-asian: normal;

  // text-decoration
  --text-decoration-line: none;
  --text-decoration-style: solid;
  --text-decoration-color: var(--color);

  // margin
  --margin-top: 0;
  --margin-right: 0;
  --margin-bottom: 0;
  --margin-left: 0;
  --margin: var(--margin-top) var(--margin-right) var(--margin-bottom) var(--margin-left);

  // padding
  --padding-top: 0;
  --padding-right: 0;
  --padding-bottom: 0;
  --padding-left: 0;
  --padding: var(--padding-top) var(--padding-right) var(--padding-bottom) var(--padding-left);

  //border-width
  --border-top-width: 0;
  --border-right-width: 0;
  --border-bottom-width: 0;
  --border-left-width: 0;
  --border-width: var(--border-top-width) var(--border-right-width) var(--border-bottom-width) var(--border-left-width);

  //border-style
  --border-top-style: none;
  --border-right-style: none;
  --border-bottom-style: none;
  --border-left-style: none;
  --border-style: var(--border-top-style) var(--border-right-style) var(--border-bottom-style) var(--border-left-style);

  //border-color
  --border-top-color: var(--black);
  --border-right-color: var(--black);
  --border-bottom-color: var(--black);
  --border-left-color: var(--black);
  --border-color: var(--border-top-color) var(--border-right-color) var(--border-bottom-color) var(--border-left-color);

  //border
  --border: var(--border-width) var(--border-style) var(--border-color);

  //border-radius
  --border-top-left-radius: 0;
  --border-top-right-radius: 0;
  --border-bottom-right-radius: 0;
  --border-bottom-left-radius: 0;
  --border-radius: var(--border-top-left-radius) var(--border-top-right-radius) var(--border-bottom-right-radius) var(--border-bottom-left-radius);

  // ???
  --border-image-outset: 0;
  --border-image-repeat: stretch;
  --border-image-slice: 100%;
  --border-image-source: none;
  --border-image-width: 1;
  --border-collapse: separate;
  --border-spacing: 0;

  // list
  --list-style-type: none;
  --list-style-image: none;
  --list-style-position: outside;
  --list-style: var(--list-style-type) var(--list-style-image) var(--list-style-position);

  // overflow
  --overflow: auto;

  // flex ???
  --flex-grow: 1;
  --flex-shrink: 1;
  --flex-basis: auto;
  --flex: var(--flex-grow) var(--flex-shrink) var(--flex-basis);
  --flex-direction: row;
  --flex-wrap: nowrap;
  --justify-content: center;
  --align-content: stretch;
  --align-items: stretch;

  // grid ???
  --grid-column-gap: 1rem;
  --grid-row-gap: 1rem;
  --grid-row-start: auto;
  --grid-row-end: auto;
  --grid-column-start: auto;
  --grid-column-end: auto;
  --grid-auto-rows: 1fr;
  --grid-auto-columns: 1fr;
  --grid-auto-flow: row;
  --grid-item-min-width: 200px;
  --grid-item-max-width: 1fr;
  --grid-item-min-height: 100px;
  --grid-item-max-height: 2fr;

  // transition ???
  --transition-property: all;
  --transition-duration: 0s;
  --transition-timing-function: erase;
  --transition-delay: 0s;

  // animation ???
  --animation-delay: 0s;
  --animation-direction: normal;
  --animation-duration: 0s;
  --animation-fill-mode: none;
  --animation-iteration-count: 1;
  --animation-name: none;
  --animation-play-state: running;
  --animation-timing-function: ease;

  // column-rule
  --column-rule-width: medium;
  --column-rule-style: none;
  --column-rule-color: var(--dark);
  --column-rule: var(--column-rule-width) var(--column-rule-style) var(--column-rule-color);

  // columns
  --column-count: auto;
  --column-width: auto;
  --columns: var(--column-count) var(--column-width);

  // grid-column ???
  --column-gap: normal;
  --column-span: none;

  // outline ???
  --outline-style: invert;
  --outline-width: medium;
  --outline-color: var(--dark);
  --outline: var(--outline-style) var(--outline-width) var(--outline-color);

  // size ???
  --min-width: 0;
  --max-width: 100vw;
  --min-height: 0;
  --max-height: 100vw;

  // other
  --hyphens: auto;
  --letter-spacing: normal;
  --word-spacing: normal;
  --white-space: normal;
  --cursor: default;

  /**
    --box-shadow: 0 5px 5px rgba(50, 50, 50, 0.4);
    **/
}
