@charset 'UTF-8';

@supports(display: flex) {

  .flex {
    align-items: var(--align-items, center);
    display: flex;
    &.inline { display: inline-flex; }
  }

  .row {
    flex-direction: row;
    &.reverse { flex-direction: row-reverse; }
  }

  .col {
    flex-direction: column;
    &.reverse { flex-direction: column-reverse; }
  }

  .no-wrap { flex-wrap: nowrap; }

  .wrap-reverse { flex-wrap: wrap-reverse; }

}
