@charset 'UTF-8';

.bg-red { --background-color: var(--red); }
.bg-blue { --background-color: var(--blue); }
.bg-green { --background-color: var(--green); }
.bg-yellow { --background-color: var(--yellow); }
.bg-orange { --background-color: var(--orange); }
.bg-purple { --background-color: var(--purple); }
.bg-pink { --background-color: var(--pink); }
.bg-black { --background-color: var(--black); }
.bg-white { --background-color: var(--white); }
.bg-grey { --background-color: var(--grey); }
.bg-transparent { --background-color: transparent; }
