@charset 'UTF-8';

.cursor-zoom-in { --cursor: zoom-in; }
.cursor-zoom-out { --cursor: zoom-out; }
.cursor-load { --cursor: wait; }
.cursor-clic { --cursor: pointer; }
.cursor-move { --cursor: move; }
.no-cursor { --cursor: none; }
