@charset 'UTF-8';

.resizable {
  resize: both;

  --overflow: auto;
}

.no-resizable { resize: none; }

.full {
  width: 100%;
  height: 100%;
}

.full-width { width: 100%; }

.full-height { height: 100%; }

.auto-height { height: auto; }

.auto-width { width: auto; }
