@charset 'UTF-8';

$blue: #00f;

a,
:link,
:visited {

  color: var(--a-color, $blue);
  text-decoration: none;

  &:hover {
    color: var(--a-color-hover, $blue);
    cursor: pointer;
    text-decoration: underline;
  }

}

