@charset "UTF-8";

html { box-sizing: border-box; }

*, *:after, *:before {
    box-sizing: inherit;
	padding: var(--padding, 0);
	margin: var(--margin, 0);
    border: var(--border, 0px none black);
	font-size: var(--font-size, 100%);
    font: inherit;
    vertical-align: baseline;
}

body {
    background: var(--bg-color);
    color: var(--txt-color);
    font-family: var(--font-family, sans-serif), serif;
    font-size-adjust: var(--font-size-adjust, 100%);
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary { 
    display: block;
    background: var(--bg-color);
    color: var(--txt-color);
}

canvas, img, svg, video {
	display: inline-block;
	width: 100%;
    max-width: 100%;
    height: auto;
    border-style: none;
}

h1, h2, h3, h4, h5, h6 { font-weight: normal; }

a, a:link, a:visited {
    background-color: transparent;
    color: var(--a-color, blue);
    text-decoration: none;
}

a:link:hover, a:visited:hover, a:active:hover, a:hover { 
    color: var(--a-color-hover, var(--hover-color));
    text-decoration: underline;
    cursor: pointer;
}

ul { list-style-type: none; }

hr {
    box-sizing: content-box;
    height: var(--hr-height, 0);
    overflow: visible;
    background-color: var(--txt-color, black);
}

b, strong { font-weight: bold; }

textarea { overflow: auto; }
