@charset "UTF-8";

@supports(display: block) {
    .body {
        max-width: var(--body-max-width);
        min-width: var(--body-min-width);
        margin: 0 auto;
    }
    
    .block { display: block; }
    .inline { display: inline; }
    .bloc.inline { display: inline-block; }
    .float-left { float: left; }
    .float-right { float: right; }
    .float-none { float: none; }
    .block.center { margin: 0 auto; }
}
