@charset "UTF-8";

@supports(display: flex) {
    .flex {
        display: flex;
        flex-flow: raw wrap;
        justify-content: center;
        align-items: center;
    }
    .flex.inline { display: inline-flex; }
    .flex.row { flex-direction: column; }
    .flex.row.reverse { flex-direction: column-reverse; }
    .flex.col { flex-direction: row; }
    .flex.col.reverse { flex-direction: row-reverse; }
    .flex.around { justify-content: space-around; }
    .flex.between { justify-content: space-between; }
    .flex.start { justify-content: start; }
    .flex.end { justify-content: end; }
    .flex.baseline { align-items: baseline; }
}
