@charset 'UTF-8';

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Universal
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* Apply styling to all elements (including their `::before` and `::after`
pseudo-elements). One common use of this selector is to apply a custom
`box-sizing`. */
*, *::before, *::after {}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Root
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

:root {}
html {}
body {}

///////////////////////////////////@at-root


html {
  box-sizing: border-box;
  min-height: 95vh;
  max-width: 100vw;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  background-repeat: no-repeat;
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  margin: 0 auto;
  text-rendering: optimizeSpeed;
}

article,
aside,
details,
div,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}

br + br {
  display: none;
}

audio,
canvas,
embed,
iframe,
img,
object,
picture,
svg,
video {
  display: inline-block;
  height: auto;
  max-width: 100%;
  border: none;
  vertical-align: middle;
}

img:not([alt]) { filter: blur(5px); }



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Media queries
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

@media (prefers-reduced-motion: reduce) {
}

@media (prefers-color-scheme: dark) {
}

@media (orientation: portrait) {
}

@media (orientation: landscape) {
}

@media print {
}
