@charset 'UTF-8';

html {
    box-sizing: border-box;
    min-height: 90vh;
    max-width: 100vw;
    text-size-adjust: 100%;
    line-height: 1.4;
    tab-size: 4;
    scroll-behavior: smooth;
    cursor: default;
}

*, *::before, *::after {
    box-sizing: inherit;
    background-repeat: no-repeat;
}

html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, 
legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    margin: 0 auto;
    text-rendering: optimizeSpeed;
}

article, aside, details, div, figcaption, figure, footer,
header, main, menu, nav, section {
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,th {
    padding: 0;
}

td:not([align]), th:not([align]) {
    text-align: left;
}

code, kbd, samp, pre {
    font-family: monospace;
    font-size: 1em;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

audio, canvas, embed, iframe, img, object, picture, svg, video  {
    display: inline-block;
    height: auto;
    max-width: 100%;
    border: none;
    vertical-align: middle;
}

img:not([alt]) { filter: blur(5px); }

h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: normal;
}

button,input,optgroup,select,textarea {
    margin: 0;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.2;
}

button, input { overflow: visible; }

button, select { text-transform: none; }

button, [type="button"], [type="reset"], [type="submit"], [role="button"] { appearance: button; }

[type="search"] { appearance: textfield; }

fieldset {
    padding: 0.6em;
}

legend {
    box-sizing: border-box; 
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress { vertical-align: baseline; }

textarea { overflow: auto; }

summary { display: list-item; }

menu, ol, ul { list-style: none; }

a { background-color: transparent; }

b, strong { font-weight: bolder; }

abbr[title] {
    cursor: help;
    text-decoration: underline dotted;
}

small { font-size: .75em; }

sub, sup {
    font-size: 0.7em;
    line-height: 0;
}

sub { bottom: -0.4em; }

sup { top: -0.5em; }

template, [hidden], [aria-hidden="true"] { display: none; }

[aria-busy="true"] { cursor: progress; }

[aria-controls] { cursor: pointer; }

[aria-disabled="true"], [disabled] { cursor: not-allowed; }

[aria-hidden="false"][hidden] { display: initial; }
