@charset 'UTF-8';

@mixin color($bg-color, $color) {
  background-color: $bg-color;
  color: $color;
}

@mixin clearfix {

  &:before, &:after {
    content: '';
    display: table;
  }
  
  &:after {
    clear: both;
  }

}

// media query 
// place holder
// font properties
// background properties
// word-spacing
// letter-spacing
// text-decoration
// vertical-align
// text-transform
// line-height
// text-indent
// opacity
