@charset 'UTF-8';

a, :link, :visited {

  color: var(--a-color, $blue);
  text-decoration: none;

  &:hover {
    color: var(--a-color-hover, $blue);
    cursor: pointer;
    text-decoration: underline;
  }

}
