@charset 'UTF-8';

input {
  caret-color: var(--caret-color);
  border-color: var(--info); 
}
input:invalid, input:out-of-range { border-color: var(--danger); }
input:valid { border-color: var(--succes); }
